body {
  background-color: rgb(51, 107, 191);
}

.navbar {
  background-color: rgb(120, 204, 240);
}

.container {
  margin-top: 10px;
  /* background-color: rgb(68, 50, 198); */
  border-radius: 20px;
}

.btn {
  background-color: rgb(39, 39, 90);
  border-radius: 20px;
  color: aliceblue;
}

#logout {
  color: antiquewhite;
}

.navTitle {
  font-weight: 900;
  font-size: xx-large;
}

.navbar-toggler {
  border-radius: 20px;
}

button {
  background-color: rgb(42, 33, 110);
  border-radius: 20px;
}

.blogBox {
  margin-top: 8px;
  border-style: solid;
  background-color: rgb(68, 50, 198);
}

.blogTitle {
  text-decoration: none;
  color: gainsboro;
}

.blog-list {
  border-style: solid;
  border-radius: 10px;
  background-color: rgb(33, 81, 147);
}

.blogDesc {
  border-style: solid;
  border-color: gainsboro;
  border-radius: 20px;
  margin-bottom: 5px;
  padding: 2px;
  background-color: rgb(33, 81, 147);
}

.blogDescMain {
  font-weight: 700;
  color: rgb(9, 9, 9);
}

.blogDescTwo {
  font-size: 25px;
  font-style: italic;
}

.blogCreate {
  font-weight: bold;
  font-style: italic;
  font-size: 12px;
  padding: 5px;
  color: rgb(0, 0, 0);
}

.blogBoxCont {
  margin-top: 10px;
  border-style: solid;
  background-color: rgb(217, 200, 200);
}

.formCont {
  margin-top: 10px;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.form-input {
  border-radius: 10px;
}

.form-item {
  border-radius: 20px;
}

.commentCont {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  max-width: 75%;
  background-color: rgb(62, 103, 143);
}

.commentOwner {
  font-size: 14px;
}

.btnComment {
  margin-top: 10px;
}

.commentText {
  font-weight: bold;
  padding-top: 10px;
  background-color: rgb(62, 103, 143);
}

.commentCont {
  border-style: dashed;
}

.headerRow {
  /* background-color: rgb(51, 75, 120); */
  margin-bottom: 10px;
  border-radius: 20px;
}

a:link {
  color: rgb(217, 200, 200);
}
a:visited {
  color: rgb(217, 200, 200);
}

.login {
  margin-left: 25px;
}

.signup {
  margin-left: 25px;
}

.form-group {
  margin-top: 10px;
  border-radius: 20px;
}
